{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate, box: "list"} %}

<script type="text/javascript">
    if (parent.parent)
    {   parent.parent.sShopTitle   = "{{ actshopobj.oxshops__oxname|addslashes|raw }}";
        parent.parent.sMenuItem    = "{{ translate({ ident: "mxpersonalization" }) }}";
        parent.parent.sMenuSubItem = "{{ translate({ ident: "tbcloepersonalizationgeneral" }) }}";
        parent.parent.sWorkArea    = "{{ _act }}";
        parent.parent.setTitle();
    }
</script>

<script type="text/javascript">
    <!--
    function changeEditBar( sLocation, sPos )
    {
        parent.edit.location = '{{ oViewConf.getSelfLink()|replace({'&amp;': '&'})|raw }}&cl=' + sLocation;

        var oSearch = document.getElementById("search");
        oSearch.actedit.value = sPos;
        oSearch.submit();
    }
    window.onload = function ()
    {
        top.reloadEditFrame();
        {% if updatelist == 1 %}
            top.oxid.admin.updateList('{{ oxid }}');
        {% endif %}
    }
    //-->
</script>

<br/>

<form name="search" id="search" action="{{ oViewConf.getSelfLink()|raw }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="cl" value="oepersonalizationgeneral">
    <input type="hidden" name="actedit" value="{{ actedit }}">
    <input type="hidden" name="oxid" value="1">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="menu" value="{{ menu }}">
</form>

{% include "pagetabsnippet.html.twig" with { noOXIDCheck: true, sEditAction: 'changeEditBar' } %}

{% include "bottomitem.html.twig" %}
